
/* ---------1280------------*/


@media only screen and (min-device-width: 1280px) and (max-device-width: 1440px) {

    body, html {
    height: 2401.2px;
    width: 1280px;
  }

  .blockfuter, .block0, .block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15, .block16, .block17, .block18, .block19 {
    margin-top: 10.2px;
    margin-right: 9px;
    border: 6.6px solid #03FF0D;
  }

  .block0 {
    width: 917px;
    height: 120.3px;
  }

  .block1 {
    width: 493px;
    height: 312.8px;
  }

  .radar1 {
    width: 155px;
    height: 90px;
    margin-top: 6%;
    border: 4px solid #03FF0D;
  }

  .hr1, .hr2, .hr3 {
    width: 14.4px;
    border: 3px solid #03FF0D;
  }

  .hr1 {margin-top: 22.6px;}

  .hr2 {
    left: 24px;
    top: 26.4px;
  }

  .hr3 {
    left: 104.2px;
    top: 26.4px;
  }

  .img0 {
    height: 36px;
    width: 36px;
    top: 84%;
    left: 38%;
  }

  .img1 {
    height: 64px;
    width: 64px;
    margin-left: 30%;
    margin-top: 7%;
  }

  .radar2 {
    width: 139px;
    height: 64px;
    margin: 6% 9.4% 0 6.7%;
    border: 4px solid #03FF0D;
  }

  .rectangle1, .rectangle3, .rectangle2, .rectangle4, .rectangle5 {width: 10px;}

  .rectangle2 {
    height: 13.6px;
    margin-top: -30.6%;
  }

  .rectangle5 {margin-top: -19.2%;}

  .rectangle3 {margin-top: -41.2%;}

  .radar3 {
    width: 139px;
    height: 64px;
    margin: -17% 0 0 60%;
    border: 4px solid #03FF0D;
  }

  .cercile {
    margin-left: 42%;
    margin-top: 4%;
  }

  .cer1 {
    margin-right: 4px;
    width: 18.4px;
    height: 18.4px;
  }


  .block2 {
    width: 493px;
    height: 500px;
  }

  .lab {
    transform: scale(0.5);
    margin-top: -50%;
    margin-left: -12%;
  }

  .line1 {
    margin-top: -130%;
    width: 150px;
  }

  .line2 {
    width: 150px;
    margin-top: -110%;
    margin-left: 70%;
  }

  ._cer3, ._cer2 {
    width: 25.45px;
    height: 25.45px;
  }

  ._cer3 {
    margin-top: -99%;
    margin-left: -1.3%;
    offset-path: path('M9 13.0004H72.9553V172.888H171');

  }

  ._cer2 {
    margin-top: -102%;
    margin-left: 70%;
    offset-path: path('M171 203.134H122.987H74.9744V109.526H135.077V13.5005H9');
  }

  .block3 {
    width: 493px;
    height: 109.7px;
  }

  .block4 {
    width: 415px;
    height: 471.5px;
  }

  .humlab1 {
    width: 364px;
    height: 409px;
    margin-top: -21%;
    margin-left: 7%;
  }

  .collbs {
    width: 180px;
    height: 150px;
    margin-top: -1.2%;
    margin-left: 4.2%;
  }

  ._cer5 {
    width: 19.49px;
    height: 19.49px;
    margin-top: 17.5%;
    margin-left: 6%;
    offset-path: path('M6 8.80408H19.9883C25.3833 8.80408 29.9853 12.7095 30.863 18.0326L39.4707 70.2404L49.6 131.677');
  }

  .block5 {
    width: 416px;
    height: 182.3px;
  }

  .tabletline {
    width: 45px;
    height: 77px;
  }

  .cer3, .cer4, .cer5 {
    width: 16px;
    height: 16px;
  }

  .cer3 {top: 36px;}

  @keyframes cer3 {
    0% {left: 19%;}
    100% {left: 27%;}
  }

  .cer4
  {
    top: 72px;
    left: 84px;
  }

  .cer5 {top: 108px;}

  @keyframes cer5 {
    0% {left: 27%;}
    100% {left: 19%;}
  }

  .tablet {
    width: 158px;
    height: 95.px;
  }

  ._cer4 {
    width: 0px;
    animation: none;
  }

  .block6 {
    width: 228px;
    height: 269px;
  }

  .block7, .block8 {
    display:flex;
  }

  .block7 {
    height: 94.4px;
  }

  .block8 {
    height: 164.4px;
  }

  .block7line {
    width: 100px;
    height: 110px;
  }

  .block8line {
    width: 100px;
    height: 178px;
  }

  .humanbrain {
    width: 203px;
    height: 227px;
    margin-top: 18%;
  }

  ._cer6 {
    margin-left: 6%;
    margin-top: 4.6%;
  }

  .cer6_0 {
    margin-left: 10.2%;
    margin-top: 5.8%;
  }

  .cer6_1 {
    margin-left: 7.7%;
    margin-top: 3.6%;
  }

  .cer6_2 {
    margin-left: 7.2%;
    margin-top: 5.3%;
  }

  .cer6_3 {
    margin-left: 9.5%;
    margin-top: 4.5%;
  }

  .cer6_5 {
    margin-left: 4.7%;
    margin-top: 5.7%;
  }

  ._cer7 {margin-left: 1.1%;}

  .cer7_0 {margin-left: 4.2%; margin-top: -13%;}

  .cer7_1 {margin-left: 7.1%; margin-top: -5%;}

  .cer7_2 {margin-left: 1.3%;}

  .cer7_3 {margin-left: 4.2%;}

  .block9 {
    width: 89px;
    height: 548.5px;
  }

  .block9line {
    margin-left: -1%;
    margin-top: 50%;
    width: 79px;
    height: 450px;
  }

  .block11 {
    width: 451px;
    height: 157.8px;
  }

  .block12 {
    width: 451px;
    height: 380px;
  }

  .rectangle6, .rectangle7, .rectangle8, .rectangle9, .rectangle10, .rectangle11, .rectangle12, .rectangle13 {width: 5px;}

  .rectangle6 {height: 120.3px;}

  @keyframes moveline6 {
    0% {height: 120.3px;}
    50% {height: 72px;}
    100% {height: 120.3px;}
  }

  .rectangle7 {height: 153px;}

  @keyframes moveline7 {
    0% {height: 153px;}
    50% {height: 98px;}
    100% {height: 153px;}
  }

  .rectangle8 {height: 86px;}

  @keyframes moveline8 {
    0% {height: 86px;}
    50% {height: 52px;}
    100% {height: 86px;}
  }

  .rectangle9 {height: 48px;}

  @keyframes moveline9 {
    0% {height: 48px;}
    50% {height: 8px;}
    100% {height: 48px;}
  }


  .rectangle10 {
    height: 48px;
    margin-top: -3.8%;
    margin-left: 7%;
  }

  .rectangle11 {
    height: 86px;
    margin-top: -6.5%;
    margin-left: 16%;
  }

  .rectangle12 {
    height: 163px;
    margin-top: -12.5%;
    margin-left: 23%;
  }

  .rectangle13 {
    height: 120px;
    margin-top: -9.4%;
    margin-left: 30%;
  }

  .block12pic {
    width: 328px;
    height: 262px;
    margin-top: 24%;
    margin-left: -2.3%;
  }

  .block13 {
    width: 361px;
    height: 309.4px;
  }

  .humanlab2 {
    width: 203px;
    height: 225.3px;
    margin-top: 24%;
    margin-left: 9%;
  }

  .block13rec {
    margin-left: 35%;
    width: 40%;
    margin-top: -79%;
  }

  .radars_0 {
    wight: 104px;
    height: 104px;
    margin: -8% 60%;
  }

  .radars {
    wight: 104px;
    height: 104px;
    margin-left: 67%;
  }

  .strokecer1, .strokecer2 {
    width: 20px;
    height: 20px;
    margin-bottom: 34%;
  }

  .block14 {
    width: 362px;
    height: 148.6px;
  }

  .block14cer {
    width: 58px;
    height: 58px;
    margin-top: 2%;
    margin-left: 32%;
  }

  .block14radar {
    width: 140px;
    height: 62.5px;
    margin-left: 3%;
    margin-top: -2%;
  }

  .ellipse6 {
    margin-top: 4%;
    margin-left: 6%;
    margin-bottom: 7%;
    width: 42px;
    height: 42px;
  }

  .block14line {
    width: 54.5px;
    height: 59px;
  }

  .block14_1, .block14_2 {
    margin: 4% 5% 0 13%;
  }

  .block15 {
    width: 362px;
    height: 159px;
  }

  .block16 {
    width: 362px;
    height: 240px;
  }

  .box1_2 {
    margin-top: -340px;
  }

  .block10 {
    width: 301.5px;
    height: 331px;
  }

  .block19, .block18 {
    width: 239px;
    height: 157.8px;
  }


  .blockfuter {
    width: 920px;
    height: 120.3px;
  }
}
