body {
  width: 1920px;
  height: 4002px;
  position: relative;
  display: block;
  background-color: black;
  margin: 35px 0 15px 60px;
}

.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15, .block16, .block17, .block18, .block19 {
  box-sizing: border-box;
  border: 11px solid #03FF0D;
}


.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15, .block16, .block17, .block18, .block19 {
  margin-top: 17px;
  margin-right: 15px;
}
.box1 {
  display: flex;
}

.box1_1 {
  display: flex;
}

.box1_2 {
  display: flex;
  margin-top: -672px;
}

.box1_3 {
  display: flex;
  flex-direction: column;
}





.block1 {
  width: 975px;
  height: 504px;
}

.radar1 {
  position: relative;
  width: 322px;
  height: 200px;
  margin: 0 auto;
  margin-top: 60px;
  border: 8px solid #03FF0D;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
  border-radius: 18px 18px 0 0;
}

.hr1, .hr2, .hr3 {
  width: 30px;
  border: 6px solid #00FF0B;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
}

.hr1 {
  transform: rotate(90deg);
  margin-top: 45px;
}

.hr2 {
  position: absolute;
  left: 50px;
  top: 55px;
  transform: rotate(45deg);
}

.hr3 {
  position: absolute;
  right: 50px;
  top: 55px;
  transform: rotate(-45deg);
}

.img0 {
  position: absolute;
  top: 70%;
  left: 30%;
}

.img1 {
  margin-left: 29%;
  margin-top: 14%;
  animation: img1 1s linear alternate none infinite running;
  animation-timing-function: ease;
}

@keyframes img1 {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(-80deg);}
}




.radar2 {
  position: relative;
  width: 174px;
  height: 86px;
  margin: 14px 94px 0 67px;
  border: 8px solid #03FF0D;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
  border-radius: 15px 15px 0 0;
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4, .rectangle5 {
  position: relative;
  background: white;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
}

.rectangle1 {
  width: 18px;
  height: 58px;
  margin: 28px 30px 0 33px;
}

.rectangle2 {
  width: 18px;
  height: 27px;
  margin: -27px 30px 0 78px;
}

.rectangle3 {
  width: 18px;
  height: 42px;
  margin: -42px 30px 0 125px;
}


.radar3 {
  position: relative;
  width: 174px;
  height: 86px;
  margin: -102px 94px 0 693px;
  border: 8px solid #03FF0D;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
  border-radius: 15px 15px 0 0;
}


.rectangle4 {
  width: 18px;
  height: 27px;
  margin: 59px 30px 0 42px;
}

.rectangle5 {
  width: 18px;
  height: 42px;
  margin: -42px 30px 0 125px;
}




.cercile {
  width: 42px;
  height: 42px;
  color: #FFFFFF;
  display: inline;
  border-radius: 100px;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
  animation: ch-color-1 1s infinite;
  animation-play-state: paused;
}


.cer1 {
  margin: 10px;
}

.cer2 {
  margin: -29px 30px 0 125px;
}

.cer3 {
  position: relative;
  margin: -39px 30px 0 125px;
}

ul .cercile:hover {
  animation: ch-color-1 1s infinite;
  animation-play-state: running;
}

@keyframes ch-color-1 {
  0% { background-color: #FFFFFF;  }
  50% { background-color: #03FF0D;  }
  100% { background-color: #FFFFFF;  }
}




.block2 {
  width: 975px;
  height: 1039px;
}

.block3 {
  width: 975px;
  height: 228px;
}

.block4 {
  width: 817px;
  height: 1039px;
}

.block5 {
  width: 817px;
  height: 379px;
}

.block6 {
  width: 603px;
  height: 353px;
  float: left;
  display: inline-block;
}

.block7,.block8 {
  display: inline-block;
}

.block7 {
  width: 199px;
  height: 142px;
}

.block8 {
  width: 199px;
  height: 191px;
}

.block9 {
  width: 285px;
  height: 1189px;
}

.block10 {
  width: 702px;
  height: 655px;
  float: left;
  display: inline-block;
}

.block11 {
  width: 939px;
  height: 328px;
}

.block12 {
  width: 939px;
  height: 844px;
}

.block18, .block19 {
  display: inline-block;
}

.block18 {
  width: 522px;
  height: 309px;
}

.block19 {
  width: 522px;
  height: 329px;
}

.block13 {
  width: 553px;
  height: 643px;
}

.block14 {
  width: 553px;
  height: 309px;
}

.block15 {
  width: 553px;
  height: 550px;
}

.block16 {
  width: 553px;
  height: 309px;
}
